<nav class="navbar fixed-bottom navbar-light bg-light" style="background-color: #6c757d">
  <div class="container-fluid">
    <%= link_to "Privacy", static_pages_privacy_path, class: "nav-link" %>
    <a class="nav-link" href="#">Contatti</a>
    
  </div>
</nav>
